extends layout

block content
    include navbar.pug
    // END nav
    section.hero-wrap.hero-wrap-2(style="background-image: url('images/bg-2.jpg');" data-stellar-background-ratio='0.5')
        .overlay
        .container
            .row.no-gutters.slider-text.js-fullheight.align-items-end.justify-content-center
                .col-md-9.ftco-animate.pb-5
                    h2.mb-0.bread Works
                    p.breadcrumbs
                        span.mr-2
                            a(href='index.html')
                                | Home 
                                i.ion-ios-arrow-forward
                        span
                            | About 
                            i.ion-ios-arrow-forward
    section.ftco-section.ftco-no-pb
        .container
            .row.no-gutters.justify-content-center.mb-5.pb-2
                .col-md-6.text-center.heading-section.ftco-animate
                    h1.big Eyemakeup
                    span.subheading Sản phẩm 
                    //- h2.mb-4 Working on a Salon
                    //- p
                    //-     | Separated they live in. A small river named Duden flows by their place and supplies it with the necessary regelialia.
        .container-fluid.p-0
            .row.no-gutters
                .col-md-6.col-lg-3.ftco-animate
                    .project
                        img.img-fluid(src='images/eyemakeup/1.jpg' alt='Colorlib Template')
                        .text
                            span Bảng Phấn Mắt ColourPop California Love Pressed Powder Shadow Palette
                            h3
                            a.float-right.text-light.btn.btn-outline-warning Mua hàng
                            a.float-right.text-light.btn.btn-outline-warning Thêm vào giỏ
                                a(href='project.html') 525,000 VNĐ
                        a.icon.image-popup.d-flex.justify-content-center.align-items-center(href='images/eyemakeup/1.jpg')
                            span.icon-expand
                .col-md-6.col-lg-3.ftco-animate
                    .project
                        img.img-fluid(src='images/eyemakeup/2.png' alt='Colorlib Template')
                        .text
                            span Eyeliner Sivanna Colors Luxury Deep Women's Favorite ES8008
                            h3
                            a.float-right.text-light.btn.btn-outline-warning Mua hàng
                            a.float-right.text-light.btn.btn-outline-warning Thêm vào giỏ
                                a(href='project.html') 60,000 VNĐ
                        a.icon.image-popup.d-flex.justify-content-center.align-items-center(href='images/eyemakeup/2.png')
                            span.icon-expand
                .col-md-6.col-lg-3.ftco-animate
                    .project
                        img.img-fluid(src='images/eyemakeup/3.png' alt='Colorlib Template')
                        .text
                            span Eyeliner Sivanna Colors Luxury Deep Women's Favorite ES8008
                            h3
                            a.float-right.text-light.btn.btn-outline-warning Mua hàng
                            a.float-right.text-light.btn.btn-outline-warning Thêm vào giỏ
                                a(href='project.html') 159,000 VNĐ
                        a.icon.image-popup.d-flex.justify-content-center.align-items-center(href='images/eyemakeup/3.png')
                            span.icon-expand
                .col-md-6.col-lg-3.ftco-animate
                    .project
                        img.img-fluid(src='images/eyemakeup/4.png' alt='Colorlib Template')
                        .text
                            span Chuốt Mi Mascara Sivanna Colors Super Model 5X Long HF893
                            h3
                            a.float-right.text-light.btn.btn-outline-warning Mua hàng
                            a.float-right.text-light.btn.btn-outline-warning Thêm vào giỏ
                                a(href='project.html') 109,000 VNĐ
                        a.icon.image-popup.d-flex.justify-content-center.align-items-center(href='images/eyemakeup/4.png')
                            span.icon-expand
                .col-md-6.col-lg-3.ftco-animate
                    .project
                        img.img-fluid(src='images/eyemakeup/5.png' alt='Colorlib Template')
                        .text
                            span Phấn Mắt Đơn Bám Màu Tốt Merzy The First Eye Shadow
                            h3
                            a.float-right.text-light.btn.btn-outline-warning Mua hàng
                            a.float-right.text-light.btn.btn-outline-warning Thêm vào giỏ
                                a(href='project.html') 159,000 VNĐ
                        a.icon.image-popup.d-flex.justify-content-center.align-items-center(href='images/eyemakeup/5.png')
                            span.icon-expand
                .col-md-6.col-lg-3.ftco-animate
                    .project
                        img.img-fluid(src='images/eyemakeup/6.png' alt='Colorlib Template')
                        .text
                            span Bảng Phấn Mắt 10 Màu Clio Pro Eye Palette
                            h3
                            a.float-right.text-light.btn.btn-outline-warning Mua hàng
                            a.float-right.text-light.btn.btn-outline-warning Thêm vào giỏ
                                a(href='project.html') 509,000 VNĐ
                        a.icon.image-popup.d-flex.justify-content-center.align-items-center(href='images/eyemakeup/6.png')
                            span.icon-expand
                .col-md-6.col-lg-3.ftco-animate
                    .project
                        img.img-fluid(src='images/eyemakeup/7.png' alt='Colorlib Template')
                        .text
                            span Bảng Phấn Mắt 10 Màu Etude House Shadow Palette #BakeHouse
                            h3
                            a.float-right.text-light.btn.btn-outline-warning Mua hàng
                            a.float-right.text-light.btn.btn-outline-warning Thêm vào giỏ
                                a(href='project.html') 289,000 VNĐ
                        a.icon.image-popup.d-flex.justify-content-center.align-items-center(href='images/eyemakeup/7.png')
                            span.icon-expand
                .col-md-6.col-lg-3.ftco-animate
                    .project
                        img.img-fluid(src='images/eyemakeup/8.png' alt='Colorlib Template')
                        .text
                            span Mascara Làm Dày Mi, Chống Trôi, Không Lem Suốt Ngày Dài Merzy The First Mascara Volume Perm 
                            h3
                            a.float-right.text-light.btn.btn-outline-warning Mua hàng
                            a.float-right.text-light.btn.btn-outline-warning Thêm vào giỏ
                                a(href='project.html') 199,000 VNĐ
                        a.icon.image-popup.d-flex.justify-content-center.align-items-center(href='images/eyemakeup/8.png')
                            span.icon-expand
                .col-md-6.col-lg-3.ftco-animate
                    .project
                        img.img-fluid(src='images/eyemakeup/9.png' alt='Colorlib Template')
                        .text
                            span Mascara Siêu Mảnh, Dài và Chống Trôi Lilybyred am9 to pm9 Survival Colorcara
                            h3
                            a.float-right.text-light.btn.btn-outline-warning Mua hàng
                            a.float-right.text-light.btn.btn-outline-warning Thêm vào giỏ
                                a(href='project.html') 190,000 VNĐ
                        a.icon.image-popup.d-flex.justify-content-center.align-items-center(href='images/eyemakeup/9.png')
                            span.icon-expand  
                .col-md-6.col-lg-3.ftco-animate
                    .project
                        img.img-fluid(src='images/eyemakeup/10.png' alt='Colorlib Template')
                        .text
                            span Chì Kẻ Mày Ngang 2 Đầu G9SKin First Auto Eyebrow
                            h3
                            a.float-right.text-light.btn.btn-outline-warning Mua hàng
                            a.float-right.text-light.btn.btn-outline-warning Thêm vào giỏ
                                a(href='project.html') 69,000 VNĐ
                        a.icon.image-popup.d-flex.justify-content-center.align-items-center(href='images/eyemakeup/10.png')
                            span.icon-expand  
                .col-md-6.col-lg-3.ftco-animate
                    .project
                        img.img-fluid(src='images/eyemakeup/11.png' alt='Colorlib Template')
                        .text
                            span Chì Kẻ Mày Nét Mảnh I'm Meme Eyebrow Pencil Micro Thin
                            h3
                            a.float-right.text-light.btn.btn-outline-warning Mua hàng
                            a.float-right.text-light.btn.btn-outline-warning Thêm vào giỏ
                                a(href='project.html') 79,000 VNĐ
                        a.icon.image-popup.d-flex.justify-content-center.align-items-center(href='images/eyemakeup/11.png')
                            span.icon-expand 
                .col-md-6.col-lg-3.ftco-animate
                    .project
                        img.img-fluid(src='images/eyemakeup/12.png' alt='Colorlib Template')
                        .text
                            span Mascara Chân Mày Siêu Tự Nhiên, Bền Màu, Lâu Trôi Holika Holika Wonder Drawing1 Sec Finish Browcara 4.5g
                            h3
                            a.float-right.text-light.btn.btn-outline-warning Mua hàng
                            a.float-right.text-light.btn.btn-outline-warning Thêm vào giỏ
                                a(href='project.html') 179,000 VNĐ
                        a.icon.image-popup.d-flex.justify-content-center.align-items-center(href='images/eyemakeup/12.png')
                            span.icon-expand                                                
    //- footer.ftco-footer.ftco-section
    //-     .container
    //-         .row.mb-5
    //-             .col-md
    //-                 .ftco-footer-widget.mb-4
    //-                     h2.ftco-heading-2.logo Camille
    //-                     p
    //-                         | Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.
    //-                     ul.ftco-footer-social.list-unstyled.float-md-left.float-lft.mt-5
    //-                         li.ftco-animate
    //-                             a(href='#')
    //-                                 span.icon-twitter
    //-                         li.ftco-animate
    //-                             a(href='#')
    //-                                 span.icon-facebook
    //-                         li.ftco-animate
    //-                             a(href='#')
    //-                                 span.icon-instagram
    //-             .col-md
    //-                 .ftco-footer-widget.mb-4.ml-md-5
    //-                     h2.ftco-heading-2 Information
    //-                     ul.list-unstyled
    //-                         li
    //-                             a.py-2.d-block(href='#') FAQs
    //-                         li
    //-                             a.py-2.d-block(href='#') Privacy
    //-                         li
    //-                             a.py-2.d-block(href='#') Terms Condition
    //-             .col-md
    //-                 .ftco-footer-widget.mb-4
    //-                     h2.ftco-heading-2 Links
    //-                     ul.list-unstyled
    //-                         li
    //-                             a.py-2.d-block(href='#') Home
    //-                         li
    //-                             a.py-2.d-block(href='#') About
    //-                         li
    //-                             a.py-2.d-block(href='#') Services
    //-                         li
    //-                             a.py-2.d-block(href='#') Work
    //-                         li
    //-                             a.py-2.d-block(href='#') Blog
    //-                         li
    //-                             a.py-2.d-block(href='#') Contact
    //-             .col-md
    //-                 .ftco-footer-widget.mb-4
    //-                     h2.ftco-heading-2 Have a Questions?
    //-                     .block-23.mb-3
    //-                         ul
    //-                             li
    //-                                 span.icon.icon-map-marker
    //-                                 span.text 203 Fake St. Mountain View, San Francisco, California, USA
    //-                             li
    //-                                 a(href='#')
    //-                                     span.icon.icon-phone
    //-                                     span.text +2 392 3929 210
    //-                             li
    //-                                 a(href='#')
    //-                                     span.icon.icon-envelope
    //-                                     span.text info@yourdomain.com
    //-         .row
    //-             .col-md-12.text-center
    //-                 p
    //-                     // Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0.
    //-                     | Copyright &copy;
    //-                     script.
    //-                         document.write(new Date().getFullYear());
    //-                     |  All rights reserved | This template is made with 
    //-                     i.icon-heart.color-danger(aria-hidden='true')
    //-                     |  by 
    //-                     a(href='https://colorlib.com' target='_blank') Colorlib
    //-                     // Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0.
    //-                     // loader
    //-                     #ftco-loader.show.fullscreen
    //-                         svg.circular(width='48px' height='48px')
    //-                             circle.path-bg(cx='24' cy='24' r='22' fill='none' stroke-width='4' stroke='#eeeeee')
    //-                             circle.path(cx='24' cy='24' r='22' fill='none' stroke-width='4' stroke-miterlimit='10' stroke='#F96D00')
    //-                     script(src='/js/jquery.min.js')
    //-                     script(src='/js/jquery-migrate-3.0.1.min.js')
    //-                     script(src='/js/popper.min.js')
    //-                     script(src='/js/bootstrap.min.js')
    //-                     script(src='/js/jquery.easing.1.3.js')
    //-                     script(src='/js/jquery.waypoints.min.js')
    //-                     script(src='/js/jquery.stellar.min.js')
    //-                     script(src='/js/owl.carousel.min.js')
    //-                     script(src='/js/jquery.magnific-popup.min.js')
    //-                     script(src='/js/aos.js')
    //-                     script(src='/js/jquery.animateNumber.min.js')
    //-                     script(src='/js/bootstrap-datepicker.js')
    //-                     script(src='/js/jquery.timepicker.min.js')
    //-                     script(src='/js/scrollax.min.js')
    //-                     script(src='https://maps.googleapis.com/maps/api/js?key=AIzaSyBVWaKrjvy3MaE7SQ74_uJiULgl1JY0H2s&sensor=false')
    //-                     script(src='/js/google-map.js')
    //-                     script(src='/js/main.js')
    include footer.pug