footer.ftco-footer.ftco-section
  .container
    .row.mb-5
      .col-md
        .ftco-footer-widget.mb-4
          h2.ftco-heading-2.logo Van's cosmetic
          p
            | Là kênh mua sắm mỹ phẩm, làm đẹp hàng đầu Việt Nam được các beauty blogger lựa chọn để giới thiệu sản phẩm họ yêu thích tới khách hàng.
          ul.ftco-footer-social.list-unstyled.float-md-left.float-lft.mt-5
            li.ftco-animate
              a(href='#')
                span.icon-twitter
            li.ftco-animate
              a(href='https://www.facebook.com/maymay0804')
                span.icon-facebook
            li.ftco-animate
              a(href='https://www.instagram.com/maymayy_84/')
                span.icon-instagram
      .col-md
        .ftco-footer-widget.mb-4.ml-md-5
          h2.ftco-heading-2 Cập nhật xu hướng mới nhất
          ul.list-unstyled
            li
              a.py-2.d-block(href='https://bicicosmetics.vn/blogs/beauty-tips-review/nuoc-can-bang-cho-da-dau-mun-meishoku-bigansui-medicated-skin-lotion-duoc-nhieu-nguoi-yeu-thich-nhung-co-thuc-su-dang-tien') Dưỡng da
            li
              a.py-2.d-block(href='https://www.vietnamplus.vn/diem-danh-cac-xu-huong-trang-diem-thong-tri-instagram-mua-he-nam-nay/644597.vnp') Trang điểm
            li
              a.py-2.d-block(href='https://www.instyle.com/fashion/clothing') Thời trang 
      .col-md
        .ftco-footer-widget.mb-4
          h2.ftco-heading-2 Links
          ul.list-unstyled
            li
              a.py-2.d-block(href='#') Trang chủ
            li
              a.py-2.d-block(href='#') Facemakeup
            li
              a.py-2.d-block(href='#') EyeMakeup
            li
              a.py-2.d-block(href='#') LipMakeup
            li
              a.py-2.d-block(href='#') TipBeauty
            li
              a.py-2.d-block(href='#') Liên hệ 
      .col-md
        .ftco-footer-widget.mb-4
          h2.ftco-heading-2 Thông tin liêm hệ 
          .block-23.mb-3
            ul
              li
                span.icon.icon-map-marker
                span.text 247 Đồng Văn Cống, Phường An Thới, Quận Bình Thủy, Thành phố Cần Thơ.
              li
                a(href='#')
                  span.icon.icon-phone
                  span.text +89 774866478
              li
                a(href='https://accounts.google.com/ServiceLogin/signinchooser?service=mail&passive=true&rm=false&continue=https%3A%2F%2Fmail.google.com%2Fmail%2F&ss=1&scc=1&ltmpl=default&ltmplcache=2&emr=1&osid=1&flowName=GlifWebSignIn&flowEntry=ServiceLogin')
                  span.icon.icon-envelope
                  span.text ngthicamvan98@gmail.com
    .row
      .col-md-12.text-center
        p
          // Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0.
          | Copyright &copy;
          script.
            document.write(new Date().getFullYear());
          |  All rights reserved |  
          i.icon-heart.color-danger(aria-hidden='true')
          |  by 
          a(href='https://colorlib.com' target='_blank') Vân Nguyễn
          // Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0.
          // loader
          #ftco-loader.show.fullscreen
            svg.circular(width='48px' height='48px')
              circle.path-bg(cx='24' cy='24' r='22' fill='none' stroke-width='4' stroke='#eeeeee')
              circle.path(cx='24' cy='24' r='22' fill='none' stroke-width='4' stroke-miterlimit='10' stroke='#F96D00')
          script(src='js/jquery.min.js')
          script(src='js/jquery-migrate-3.0.1.min.js')
          script(src='js/popper.min.js')
          script(src='js/bootstrap.min.js')
          script(src='js/jquery.easing.1.3.js')
          script(src='js/jquery.waypoints.min.js')
          script(src='js/jquery.stellar.min.js')
          script(src='js/owl.carousel.min.js')
          script(src='js/jquery.magnific-popup.min.js')
          script(src='js/aos.js')
          script(src='js/jquery.animateNumber.min.js')
          script(src='js/bootstrap-datepicker.js')
          script(src='js/jquery.timepicker.min.js')
          script(src='js/scrollax.min.js')
          script(src='https://maps.googleapis.com/maps/api/js?key=AIzaSyBVWaKrjvy3MaE7SQ74_uJiULgl1JY0H2s&sensor=false')
          script(src='js/google-map.js')
          script(src='js/main.js')
