extends layout

block content
    include navbar.pug
    // END nav
    section.hero-wrap.hero-wrap-2(style="background-image: url('images/bg-2.jpg');" data-stellar-background-ratio='0.5')
        .overlay
        .container
            .row.no-gutters.slider-text.js-fullheight.align-items-end.justify-content-center
                .col-md-9.ftco-animate.pb-5
                    h2.mb-0.bread Works
                    p.breadcrumbs
                        span.mr-2
                            a(href='index.html')
                                | Home 
                                i.ion-ios-arrow-forward
                        span
                            | About 
                            i.ion-ios-arrow-forward
    section.ftco-section.ftco-no-pb
        .container
            .row.no-gutters.justify-content-center.mb-5.pb-2
                .col-md-6.text-center.heading-section.ftco-animate
                    h1.big Eyemakeup
                    span.subheading Sản phẩm 
                    //- h2.mb-4 Working on a Salon
                    //- p
                    //-     | Separated they live in. A small river named Duden flows by their place and supplies it with the necessary regelialia.
        .container-fluid.p-0
            .row.no-gutters
                .col-md-6.col-lg-3.ftco-animate
                    .project
                        img.img-fluid(src='images/lipmakeup/1.png' alt='Colorlib Template')
                        .text
                            spanSon Thỏi Lì Siêu Mịn, Siêu Nhẹ Môi Dearmay Breeze Matte Lip
                            h3
                            a.float-right.text-light.btn.btn-outline-warning Mua hàng
                            a.float-right.text-light.btn.btn-outline-warning Thêm vào giỏ
                                a(href='project.html') 99,000 VNĐ
                        a.icon.image-popup.d-flex.justify-content-center.align-items-center(href='images/lipmakeup/1.png')
                            span.icon-expand
                .col-md-6.col-lg-3.ftco-animate
                    .project
                        img.img-fluid(src='images/lipmakeup/2.png' alt='Colorlib Template')
                        .text
                            span Son Thỏi Lì 3CE Mood Recipe On And On
                            h3
                            a.float-right.text-light.btn.btn-outline-warning Mua hàng
                            a.float-right.text-light.btn.btn-outline-warning Thêm vào giỏ
                                a(href='project.html') 260,000 VNĐ
                        a.icon.image-popup.d-flex.justify-content-center.align-items-center(href='images/lipmakeup/2.png')
                            span.icon-expand
                .col-md-6.col-lg-3.ftco-animate
                    .project
                        img.img-fluid(src='images/lipmakeup/3.png' alt='Colorlib Template')
                        .text
                            span Son Thỏi Lì, Siêu Mịn, Lên Màu Chuẩn I'm MeMe Matte To Go
                            h3
                            a.float-right.text-light.btn.btn-outline-warning Mua hàng
                            a.float-right.text-light.btn.btn-outline-warning Thêm vào giỏ
                                a(href='project.html') 159,000 VNĐ
                        a.icon.image-popup.d-flex.justify-content-center.align-items-center(href='images/lipmakeup/3.png')
                            span.icon-expand
                .col-md-6.col-lg-3.ftco-animate
                    .project
                        img.img-fluid(src='images/lipmakeup/4.png' alt='Colorlib Template')
                        .text
                            span [Mini] Set 5 Son Thỏi Mini SOMEBEAU Sheer Matte Lipstick
                            h3
                            a.float-right.text-light.btn.btn-outline-warning Mua hàng
                            a.float-right.text-light.btn.btn-outline-warning Thêm vào giỏ
                                a(href='project.html') 399,000 VNĐ
                        a.icon.image-popup.d-flex.justify-content-center.align-items-center(href='images/lipmakeup/4.png')
                            span.icon-expand
                .col-md-6.col-lg-3.ftco-animate
                    .project
                        img.img-fluid(src='images/lipmakeup/5.png' alt='Colorlib Template')
                        .text
                            span Son Kem Lì, Mịn Mượt Như Nhung Romand Milk Tea Velvet Tint 4.4g
                            h3
                            a.float-right.text-light.btn.btn-outline-warning Mua hàng
                            a.float-right.text-light.btn.btn-outline-warning Thêm vào giỏ
                                a(href='project.html') 159,000 VNĐ
                        a.icon.image-popup.d-flex.justify-content-center.align-items-center(href='images/lipmakeup/5.png')
                            span.icon-expand
                .col-md-6.col-lg-3.ftco-animate
                    .project
                        img.img-fluid(src='images/lipmakeup/6.png' alt='Colorlib Template')
                        .text
                            span [HOT NEW] Son Tint Bóng Siêu Lì, Cho Đôi Môi Căng Mọng Merzy Aurora Dewy Tint 5.5g
                            h3
                            a.float-right.text-light.btn.btn-outline-warning Mua hàng
                            a.float-right.text-light.btn.btn-outline-warning Thêm vào giỏ
                                a(href='project.html') 149,000 VNĐ
                        a.icon.image-popup.d-flex.justify-content-center.align-items-center(href='images/lipmakeup/6.png')
                            span.icon-expand
                .col-md-6.col-lg-3.ftco-animate
                    .project
                        img.img-fluid(src='images/lipmakeup/7.png' alt='Colorlib Template')
                        .text
                            span Son Kem Siêu Lì, Mịn Môi 3CE Cloud Lip Tint
                            h3
                            a.float-right.text-light.btn.btn-outline-warning Mua hàng
                            a.float-right.text-light.btn.btn-outline-warning Thêm vào giỏ
                                a(href='project.html') 219,000 VNĐ
                        a.icon.image-popup.d-flex.justify-content-center.align-items-center(href='images/lipmakeup/7.png')
                            span.icon-expand
                .col-md-6.col-lg-3.ftco-animate
                    .project
                        img.img-fluid(src='images/lipmakeup/8.png' alt='Colorlib Template')
                        .text
                            span Son Tint Lì Siêu Mịn, Lên Màu Chuẩn Black Rouge Color Lock Heart Tint 3.5ml
                            h3
                            a.float-right.text-light.btn.btn-outline-warning Mua hàng
                            a.float-right.text-light.btn.btn-outline-warning Thêm vào giỏ
                                a(href='project.html') 179,000 VNĐ
                        a.icon.image-popup.d-flex.justify-content-center.align-items-center(href='images/lipmakeup/8.png')
                            span.icon-expand
                .col-md-6.col-lg-3.ftco-animate
                    .project
                        img.img-fluid(src='images/lipmakeup/9.png' alt='Colorlib Template')
                        .text
                            span  Son Dưỡng Môi Innisfree 15g
                            h3
                            a.float-right.text-light.btn.btn-outline-warning Mua hàng
                            a.float-right.text-light.btn.btn-outline-warning Thêm vào giỏ
                                a(href='project.html') 190,000 VNĐ
                        a.icon.image-popup.d-flex.justify-content-center.align-items-center(href='images/lipmakeup/9.png')
                            span.icon-expand  
                .col-md-6.col-lg-3.ftco-animate
                    .project
                        img.img-fluid(src='images/lipmakeup/10.png' alt='Colorlib Template')
                        .text
                            span Sản phẩm đa năng] Son Dưỡng Môi Có Màu, Má Hồng I'm Meme Pep! Balm 15g
                            h3
                            a.float-right.text-light.btn.btn-outline-warning Mua hàng
                            a.float-right.text-light.btn.btn-outline-warning Thêm vào giỏ
                                a(href='project.html') 109,000 VNĐ
                        a.icon.image-popup.d-flex.justify-content-center.align-items-center(href='images/lipmakeup/10.png')
                            span.icon-expand  
                .col-md-6.col-lg-3.ftco-animate
                    .project
                        img.img-fluid(src='images/lipmakeup/11.png' alt='Colorlib Template')
                        .text
                            span [2020 Spring Collection] Son Thỏi Lì Có Dưỡng, Mịn Môi Candylab Satin Lipstick Love In Spring Edition 3.5g
                            h3
                            a.float-right.text-light.btn.btn-outline-warning Mua hàng
                            a.float-right.text-light.btn.btn-outline-warning Thêm vào giỏ
                                a(href='project.html') 189,000 VNĐ
                        a.icon.image-popup.d-flex.justify-content-center.align-items-center(href='images/lipmakeup/11.png')
                            span.icon-expand 
                .col-md-6.col-lg-3.ftco-animate
                    .project
                        img.img-fluid(src='images/lipmakeup/12.png' alt='Colorlib Template')
                        .text
                            span Son Thỏi Lì Siêu Mịn Eglips Muse In Velvet Lipstick
                            h3
                            a.float-right.text-light.btn.btn-outline-warning Mua hàng
                            a.float-right.text-light.btn.btn-outline-warning Thêm vào giỏ
                                a(href='project.html') 179,000 VNĐ
                        a.icon.image-popup.d-flex.justify-content-center.align-items-center(href='images/lipmakeup/12.png')
                            span.icon-expand                                                
    include footer.pug