extends layout

block content
  include navbar.pug
  // END nav
  section.hero-wrap.hero-wrap-2(style="background-image: url('images/bg-2.jpg');" data-stellar-background-ratio='0.5')
    .overlay
    .container
      .row.no-gutters.slider-text.js-fullheight.align-items-end.justify-content-center
        .col-md-9.ftco-animate.pb-5
          h2.mb-0.bread Blog
          p.breadcrumbs
            span.mr-2
              a(href='index.html')
                | Home 
                i.ion-ios-arrow-forward
            span
              | Blog 
              i.ion-ios-arrow-forward
  section.ftco-section.ftco-degree-bg
    .container
      .row
        .col-lg-8.ftco-animate
          .row
            .col-md-12.d-flex.ftco-animate
              .blog-entry.align-self-stretch.d-md-flex
                a.block-20(href='blog-single.html' style="background-image: url('images/tip/1.png');")
                .text.d-block.pl-md-4
                  .meta.mb-3
                    div
                      a(href='#') jun 10, 2020
                    div
                      a(href='#') Admin
                    div
                      a.meta-chat(href='#')
                        span.icon-chat
                        |  3
                  h3.heading
                    a(href='#') Điểm Danh Ngay 6 Loại Sữa Rửa Mặt "Best-seller" Giá Thành Cực Bình Dân Nhưng Chất Lượng Thật Bất Ngờ!
                  p
                    | Mùa hè đến rồi cũng là thời điểm tuyết dầu trên da hoạt động mạnh hơn. 
                    | Chính vì lẽ này đễ giữ làn da sạch thoáng cũng như chu trình dưỡng da giữ được "phong độ".
                  p
                    a.btn.btn-primary.py-2.px-3(href='tip-beauty-single') Read more
            .col-md-12.d-flex.ftco-animate
              .blog-entry.align-self-stretch.d-md-flex
                a.block-20(href='blog-single.html' style="background-image: url('images/tip/2.png');")
                .text.d-block.pl-md-4
                  .meta.mb-3
                    div
                      a(href='#') jun 10, 2020
                    div
                      a(href='#') Admin
                    div
                      a.meta-chat(href='#')
                        span.icon-chat
                        |  3
                  h3.heading
                    a(href='#') Có Nên "Kết Đôi" Với Nước Thần Ngải Cứu Trị Mụn Missha Time Revolution Artemisia Treatment Essence?
                  p
                    | Làn da nhạy cảm, đang gặp các vấn đề về làn da khô, yếu lại chính là làn da mà mình đối mặt trong mùa hè năm nay. Chính lúc này đây mình đã tham khảo và sử dụng dòng nước 
                    | Thần Ngải Cứu Trị Mụn Missha Time Revolution Artemisia Treatment
                  p
                    a.btn.btn-primary.py-2.px-3(href='tip-beauty-single') Read more
            .col-md-12.d-flex.ftco-animate
              .blog-entry.align-self-stretch.d-md-flex
                a.block-20(href='blog-single.html' style="background-image: url('images/tip/3.jpg');")
                .text.d-block.pl-md-4
                  .meta.mb-3
                    div
                      a(href='#') jun 10, 2020
                    div
                      a(href='#') Admin
                    div
                      a.meta-chat(href='#')
                        span.icon-chat
                        |  3
                  h3.heading
                    a(href='#') Top 5 Loại Mặt Nạ Giấy "Hô Biến" Làn Da Trở Nên Căng Mướt Chỉ Sau 1 Lần Đắp
                  p
                    | Mặt nạ giấy luôn là hot trend trong các bạn trẻ bởi tính tiện dụng và tác dụng ngay lập tức trên làn da. 
                    | Chính vì vậy nên các nàng không ngừng cập nhật các loại mặt nạ vừa giúp thư giãn vừa làm đẹp da nhanh chóng này.
                  p
                    a.btn.btn-primary.py-2.px-3(href='tip-beauty-single') Read more
            .col-md-12.d-flex.ftco-animate
              .blog-entry.align-self-stretch.d-md-flex
                a.block-20(href='blog-single.html' style="background-image: url('images/tip/4.jpg');")
                .text.d-block.pl-md-4
                  .meta.mb-3
                    div
                      a(href='#') jun 10, 2020
                    div
                      a(href='#') Admin
                    div
                      a.meta-chat(href='#')
                        span.icon-chat
                        |  3
                  h3.heading
                    a(href='#') Derladie Witch Hazel Perfect Vitamin Serum - Lọ Tinh Chất "Chân Ái" Cứu Tinh Cho Làn Da Mụn
                  p
                    | Làn da mụn vốn là làn da đỏng đảnh hơn hẳn so với những làn da nhạy cảm khác. 
                    | Tình trạng da nổi mụn và dễ bị đỏ, viêm da khiến tất cả mọi người, dù nam hay nữ trở nên tự ti mặc cảm mỗi khi phải ra đường và giao tiếp với những người xung quanh
                  p
                    a.btn.btn-primary.py-2.px-3(href='tip-beauty-single') Read more
            .col-md-12.d-flex.ftco-animate
              .blog-entry.align-self-stretch.d-md-flex
                a.block-20(href='blog-single.html' style="background-image: url('images/tip/5.jpg');")
                .text.d-block.pl-md-4
                  .meta.mb-3
                    div
                      a(href='#') jun 10, 2020
                    div
                      a(href='#') Admin
                    div
                      a.meta-chat(href='#')
                        span.icon-chat
                        |  3
                  h3.heading
                    a(href='#') "Top 4 ""Bảo Bối"" Cushion Cho Da Dầu Cực Hiệu Quả Mà Bạn Sẽ Muốn Tậu Ngay
                  p
                    | Trang điểm là vũ khí lợi hại nhanh chóng làm cho nàng đẹp lên ngay tức thì. 
                    | Tuy nhiên làn da dầu là làn da khó tính mà các nàng cần phải cân nhắc khi chọn cushion
                  p
                    a.btn.btn-primary.py-2.px-3(href='tip-beauty-single') Read more
            .col-md-12.d-flex.ftco-animate
              .blog-entry.align-self-stretch.d-md-flex
                a.block-20(href='blog-single.html' style="background-image: url('images/tip/6.jpg');")
                .text.d-block.pl-md-4
                  .meta.mb-3
                    div
                      a(href='#') jun 10, 2020
                    div
                      a(href='#') Admin
                    div
                      a.meta-chat(href='#')
                        span.icon-chat
                        |  3
                  h3.heading
                    a(href='#') Sử Dụng Tinh Dầu Tràm Trà Để Phòng Ngừa Cảm Cúm Trong Mùa Dịch Corona, Bạn Đã Thử Chưa?
                  p
                    | Trong mùa dịch viêm phổi Corona hoành hành như bây giờ, bạn có thể dùng tinh dầu Tràm Trà Tea Tree Oil để phòng ngừa,
                    | ( ngoài ra còn có các loại tinh dầu như dầu khuynh diệp, dầu bạc hà..)
                  p
                    a.btn.btn-primary.py-2.px-3(href='tip-beauty-single') Read more
          .row.mt-5
            .col
              .block-27
                ul
                  li
                    a(href='#') &lt;
                  li.active
                    span 1
                  li
                    a(href='#') 2
                  li
                    a(href='#') 3
                  li
                    a(href='#') 4
                  li
                    a(href='#') 5
                  li
                    a(href='#') &gt;
        // .col-md-8
        .col-lg-4.sidebar.ftco-animate
          .sidebar-box
            form.search-form(action='#')
              .form-group
                span.icon.ion-ios-search
                input.form-control(type='text' placeholder='Type a keyword and hit enter')
               
          //- .sidebar-box.ftco-animate
          //-   h3.heading-2 Categories
          //-   ul.categories
          //-     li
          //-       a(href='#')
          //-         | Bags 
          //-         span (12)
          //-     li
          //-       a(href='#')
          //-         | Shoes 
          //-         span (22)
          //-     li
          //-       a(href='#')
          //-         | Dress 
          //-         span (37)
          //-     li
          //-       a(href='#')
          //-         | Accessories 
          //-         span (42)
          //-     li
          //-       a(href='#')
          //-         | Makeup 
          //-         span (14)
          //-     li
          //-       a(href='#')
          //-         | Beauty 
          //-         span (140)
          .sidebar-box.ftco-animate
            h3.heading-2 Video hướng dẫn, review
            .block-21.mb-4.d-flex
              a.blog-img.mr-4(style='background-image: url(images/tip/7.jpg);' href='https://www.youtube.com/watch?v=MfNpDNZIaNc' target="_blank")
              //- a.blog-img.mr-4(href='https://www.youtube.com/watch?v=bSqgBBLKl-Y')
              
          
              .text
                h3.heading-1
                  a(href='#') Trang điểm cho người mới bắt đầu
                .meta
                  div
                    a(href='#')
                      span.icon-calendar
                      |  May 08, 2020
                  div
                    a(href='#')
                      span.icon-person
                      |  Admin
                  div
                    a(href='#')
                      span.icon-chat
                      |  4
            .block-21.mb-4.d-flex
              a.blog-img.mr-4(style='background-image: url(images/tip/8.jpg);' href='https://www.youtube.com/watch?v=ZqSBTwscn5o' target="_blank")
            
              .text
                h3.heading-1
                  a(href='#') MAKEUP CĂNG BÓNG VỚI CÁC SẢN PHẨM DƯỚI 200K
                .meta
                  div
                    a(href='#')
                      span.icon-calendar
                      |  May 08, 2020
                  div
                    a(href='#')
                      span.icon-person
                      |  Admin
                  div
                    a(href='#')
                      span.icon-chat
                      |  19
            .block-21.mb-4.d-flex
              a.blog-img.mr-4(style='background-image: url(images/tip/9.jpg);' href='https://www.youtube.com/watch?v=OBSJb-3feDU' target="_blank")
              .text
                h3.heading-1
                  a(href='#') Review các bước bước da cơ bản giá  học sinh
                .meta
                  div
                    a(href='#')
                      span.icon-calendar
                      |  May 08, 2020
                  div
                    a(href='#')
                      span.icon-person
                      |  Admin
                  div
                    a(href='#')
                      span.icon-chat
                      |  19
            .block-21.mb-4.d-flex
              a.blog-img.mr-4(style='background-image: url(images/tip/15.jpg);' href='https://www.youtube.com/watch?v=yo9IZ_dRAaM' target="_blank")
              //- a.blog-img.mr-4(href='https://www.youtube.com/watch?v=bSqgBBLKl-Y')
              
          
              .text
                h3.heading-1
                  a(href='#') Top 5 kem nền xịn nhất mọi thời đại.
                .meta
                  div
                    a(href='#')
                      span.icon-calendar
                      |  May 08, 2020
                  div
                    a(href='#')
                      span.icon-person
                      |  Admin
                  div
                    a(href='#')
                      span.icon-chat
                      |  4 
            .block-21.mb-4.d-flex
              a.blog-img.mr-4(style='background-image: url(images/tip/16.jpg);' href='https://www.youtube.com/watch?v=W4eSHvuAFWY' target="_blank")
              //- a.blog-img.mr-4(href='https://www.youtube.com/watch?v=bSqgBBLKl-Y')
              
          
              .text
                h3.heading-1
                  a(href='#') Tổng hợp các Sản Phẩm Makeup Rẻ + Xịn 
                .meta
                  div
                    a(href='#')
                      span.icon-calendar
                      |  May 08, 2020
                  div
                    a(href='#')
                      span.icon-person
                      |  Admin
                  div
                    a(href='#')
                      span.icon-chat
                      |  4 
            .block-21.mb-4.d-flex
              a.blog-img.mr-4(style='background-image: url(images/tip/17.jpg);' href='https://www.youtube.com/watch?v=Gpo6HPgeh_4' target="_blank")
              //- a.blog-img.mr-4(href='https://www.youtube.com/watch?v=bSqgBBLKl-Y')
              
          
              .text
                h3.heading-1
                  a(href='#') Cách uốn tóc phồng bồng bềnh xinh lung linh 
                .meta
                  div
                    a(href='#')
                      span.icon-calendar
                      |  May 08, 2020
                  div
                    a(href='#')
                      span.icon-person
                      |  Admin
                  div
                    a(href='#')
                      span.icon-chat
                      |  4 
            .block-21.mb-4.d-flex
              a.blog-img.mr-4(style='background-image: url(images/tip/18.png);' href='https://www.youtube.com/watch?v=09AezjCfRW4' target="_blank")
              .text
                h3.heading-1
                  a(href='#') SON JENNIE BLACKPINK -HERA Sensual Nude Gloss+Balm & Sensual Tint 
                .meta
                  div
                    a(href='#')
                      span.icon-calendar
                      |  May 08, 2020
                  div
                    a(href='#')
                      span.icon-person
                      |  Admin
                  div
                    a(href='#')
                      span.icon-chat
                      |  4              
          .sidebar-box.ftco-animate
            h3.heading-2 Tag Cloud
            .tagcloud
              a.tag-cloud-link(href='#') donate
              a.tag-cloud-link(href='#') charity
              a.tag-cloud-link(href='#') non-profit
              a.tag-cloud-link(href='#') organization
              a.tag-cloud-link(href='#') child
              a.tag-cloud-link(href='#') abuse
              a.tag-cloud-link(href='#') help
              a.tag-cloud-link(href='#') volunteer
          .sidebar-box.ftco-animate
            //- h3.heading-2 Paragraph
            //- p
            //-   | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus itaque, autem necessitatibus voluptate quod mollitia delectus aut, sunt placeat nam vero culpa sapiente consectetur similique, inventore eos fugit cupiditate numquam!
  include footer.pug
