extends layout

block content
  include navbar.pug
  // END nav
  section.hero-wrap.hero-wrap-2(style="background-image: url('images/bg-2.jpg');" data-stellar-background-ratio='0.5')
    .overlay
    .container
      .row.no-gutters.slider-text.js-fullheight.align-items-end.justify-content-center
        .col-md-9.ftco-animate.pb-5
          h2.mb-0.bread Bài viết 
          p.breadcrumbs
            span.mr-2
              a(href='index.html')
                | Home 
                i.ion-ios-arrow-forward
            span
              | Blog 
              i.ion-ios-arrow-forward
  section.ftco-section
    .container
      .row
        .col-lg-8.order-md-last.ftco-animate
          h2.mb-3 
          p
            | Điểm Danh Ngay 6 Loại Sữa Rửa Mặt "Best-seller" Giá Thành Cực Bình Dân Nhưng Chất Lượng Thật Bất Ngờ!
            |Các loại sữa rửa mặt sau đây đều nằm ở mức giá bình dân, những trải nghiệm thực tế và review được đánh giá rất cao. Các nàng cùng tham khảo nhé!

            |Sữa Rửa Mặt Thải Độc Rau Củ Super Vegitoks Cleanser
            |Thiết kế sản phẩm có vòi bơm tháo rời để có thể đem đi du lịch nếu cần. Nắp đậy sản phẩm được tách riêng ra, hãy giữ lại nhé, vì bạn có thể tái sử dụng với chai sữa rữa mặt này đấy. Thiết kế này đơn giản nhưng mình thấy tiện dụng và vẫn rất sang đẹp vì bao bì trong suốt nhìn thấy rõ dung dịch sữa rữa mặt. 
          p
            img.img-fluid(src='images/tip/10.jpg' alt='')
          p
            | Da mình thuộc dạng da nhạy cảm nên đã cẩn thận khi lựa chọn Sữa Rửa Mặt Thải Độc Rau Củ Super Vegitoks Cleanser. Màu xanh lá là màu nổi tiếng nhất được nhiều ngôi sao khen ngợi như Hong Jin-kyung, Lee Youngja. Tinh chất chiết xuất từ rau củ như tảo spirulina, chanh lime, cỏ lúa mì wheat grass, bông cải xanh broccoli.. an toàn cho da. Sản phẩm hứa hẹn có tác dụng tẩy trang, 
            |làm sạch sâu, đặc biệt là không khí ô nhiễm, bụi bẩn của thành phố. 
          h2.mb-3.mt-5 #2. Sữa Rửa Mặt Innisfree Green Tea Foam Cleanser
          p
            | Sữa Rửa Mặt Innisfree Green Tea Foam Cleanser này là sản phẩm mà mình đã dùng đến tuýp thứ 2. 
            |Lần đầu tiên mình dùng sản phẩm này là được bạn giới thiệu vì nó làm sạch da và có mùi trà xanh rất dịu nhẹ, lại kiềm dầu. Phải công nhận rằng so với giá thành vừa phải thì sữa rữa mặt này có thể tạo bọt dễ dàng dù chỉ dùng lòng bàn tay. Bọt rất mịn và nhiều. 


          p
            img.img-fluid(src='images/tip/11.jpg' alt='')
          h2.mb-3.mt-5 #3.  Sữa Rửa Mặt Shiseido Senka Perfect Whip Cleansing Foam
          p
            | Sữa rửa mặt dành riêng cho da mụn Senka Acne Care 
            |Có chiết xuất từ hoa cúc là thành phần dược liệu giúp kháng viêm, chống vi khuẩn. Thành phần dưỡng ẩm silk essence và Double Hyaluronic Acid. Loại sữa rửa mặt Senka Acne Care  này đặc biệt làm sạch các loại mỹ phẩm trang điểm như son, chì kẻ, những cặn trang điểm còn lại.
            |Đặc biệt khả năng làm sạch rất tốt kể cả da chết, bụi mịn hay bã nhờn đều không làm khó được em này.
          h2.mb-3.mt-5 #4.   Sữa Rửa Mặt Simple Kind To Skin Refreshing Facial Wash Gel
          p
            | Sữa mặt của Simple sẽ chuyên trị dành riêng cho làn da nhạy cảm. Vậy nên mình đã chọn nó vào chu trình chăm sóc da của mình. Da mình dạo này đặc biệt nhạy cảm và khó chịu, loại sữa rửa mặt này không màu, không mùi, không xà phòng  nên dịu nhẹ cho da. 
          p
            img.img-fluid(src='images/tip/12.jpg' alt='')
          p
            |Dù dịu nhẹ như vậy nhưng khả năng làm sạch của Sữa Rửa Mặt Simple Kind To Skin Refreshing Facial Wash Gel không phải "dạng vừa". Sau khi rửa mặt, mình dùng bông cotton lau cùng nước hoa hồng mà miếng bông vẫn rất trắng sạch.
            |Lúc dùng sản phẩm này da mình đang bị mẩn đỏ trên da. Rất may sữa rửa mặt này không làm da mình bị đỏ hơn nữa hay khô tróc. Mình rất thích cảm giác làm sạch hết dầu thừa, bụi bẫn và cấp nước làm da căng khỏe. 

          p
            img.img-fluid(src='images/tip/12.jpg' alt='')

         
          .tag-widget.post-tag-container.mb-5.mt-5
            .tagcloud
              a.tag-cloud-link(href='#') child
              a.tag-cloud-link(href='#') help
              a.tag-cloud-link(href='#') give
              a.tag-cloud-link(href='#') charity
          .about-author.d-flex.p-4.bg-light
            .bio.mr-5
              img.img-fluid.mb-4(src='images/tip/14.jpg' alt='Image placeholder')
            .desc
              h3 ViVian
              p
                | Những chai sửa rửa mặt hiệu quả nhất cho mọi loại da, da mặt căng mướt sau khi rửa, không đem lại cảm giác châm chít, căng, nồng độ ph 
                | vừa phải không làm da khó chịu.
          .pt-5.mt-5
            h3.mb-5 6 Comments
            ul.comment-list
              li.comment
                .vcard.bio
                  img(src='images/person_1.jpg' alt='Image placeholder')
                .comment-body
                  h3 John Doe
                  .meta October 03, 2018 at 2:21pm
                  p
                    | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Pariatur quidem laborum necessitatibus, ipsam impedit vitae autem, eum officia, fugiat saepe enim sapiente iste iure! Quam voluptas earum impedit necessitatibus, nihil?
                  p
                    a.reply(href='#') Reply
              li.comment
                .vcard.bio
                  img(src='images/person_1.jpg' alt='Image placeholder')
                .comment-body
                  h3 John Doe
                  .meta October 03, 2018 at 2:21pm
                  p
                    | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Pariatur quidem laborum necessitatibus, ipsam impedit vitae autem, eum officia, fugiat saepe enim sapiente iste iure! Quam voluptas earum impedit necessitatibus, nihil?
                  p
                    a.reply(href='#') Reply
                ul.children
                  li.comment
                    .vcard.bio
                      img(src='images/person_1.jpg' alt='Image placeholder')
                    .comment-body
                      h3 John Doe
                      .meta October 03, 2018 at 2:21pm
                      p
                        | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Pariatur quidem laborum necessitatibus, ipsam impedit vitae autem, eum officia, fugiat saepe enim sapiente iste iure! Quam voluptas earum impedit necessitatibus, nihil?
                      p
                        a.reply(href='#') Reply
                    ul.children
                      li.comment
                        .vcard.bio
                          img(src='images/person_1.jpg' alt='Image placeholder')
                        .comment-body
                          h3 John Doe
                          .meta October 03, 2018 at 2:21pm
                          p
                            | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Pariatur quidem laborum necessitatibus, ipsam impedit vitae autem, eum officia, fugiat saepe enim sapiente iste iure! Quam voluptas earum impedit necessitatibus, nihil?
                          p
                            a.reply(href='#') Reply
                        ul.children
                          li.comment
                            .vcard.bio
                              img(src='images/person_1.jpg' alt='Image placeholder')
                            .comment-body
                              h3 John Doe
                              .meta October 03, 2018 at 2:21pm
                              p
                                | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Pariatur quidem laborum necessitatibus, ipsam impedit vitae autem, eum officia, fugiat saepe enim sapiente iste iure! Quam voluptas earum impedit necessitatibus, nihil?
                              p
                                a.reply(href='#') Reply
              li.comment
                .vcard.bio
                  img(src='images/person_1.jpg' alt='Image placeholder')
                .comment-body
                  h3 John Doe
                  .meta October 03, 2018 at 2:21pm
                  p
                    | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Pariatur quidem laborum necessitatibus, ipsam impedit vitae autem, eum officia, fugiat saepe enim sapiente iste iure! Quam voluptas earum impedit necessitatibus, nihil?
                  p
                    a.reply(href='#') Reply
            // END comment-list
            .comment-form-wrap.pt-5
              h3.mb-5 Để lại bình luận về sản phấm nhé!
              form.p-5.bg-light(action='#')
                .form-group
                  label(for='name') Name *
                  input#name.form-control(type='text')
                .form-group
                  label(for='email') Email *
                  input#email.form-control(type='email')
                .form-group
                  label(for='website') Website
                  input#website.form-control(type='url')
                .form-group
                  label(for='message') Message
                  textarea#message.form-control(name='' cols='30' rows='10')
                .form-group
                  input.btn.py-3.px-4.btn-primary(type='submit' value='Post Comment')
        // .col-md-8
        .col-lg-4.sidebar.ftco-animate
          .sidebar-box
            form.search-form(action='#')
              .form-group
                span.icon.ion-ios-search
                input.form-control(type='text' placeholder='Type a keyword and hit enter')
          .sidebar-box.ftco-animate
            h3.heading-2 Categories
            ul.categories
              li
                a(href='#')
                  | Trang chủ 
                  span (12)
              li
                a(href='#')
                  | Facemakeup
                  span (22)
              li
                a(href='#')
                  | Eyemakeup 
                  span (37)
              li
                a(href='#')
                  | Lipmakeup 
                  span (42)
              li
                a(href='#')
                  | Tipbeauty
                  span (14)
              li
                a(href='#')
                  | Beauty 
                  span (140) 
              
          
          .sidebar-box.ftco-animate
            h3.heading-2 Tag Cloud
            .tagcloud
              a.tag-cloud-link(href='#') review
              a.tag-cloud-link(href='#') mỹ phẩm
              a.tag-cloud-link(href='#') sữa rửa mặt
              a.tag-cloud-link(href='#') trang điểm 
              a.tag-cloud-link(href='#') sạch sẽ
              a.tag-cloud-link(href='#') mát lạnh
              a.tag-cloud-link(href='#') uy tín 
              a.tag-cloud-link(href='#') van'cosmetic
          .sidebar-box.ftco-animate
            h3.heading-2 Mục tiêu 
            p
            | Mang đến những review chân thật đến người tiêu dùng, giúp mọi người chọn lựa được những sản phẩm chất lượng nhất, phù hợp với nhu cầu sử dụng.
  include footer.pug